<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGraffle</string>
		<string>138.17.0.133677</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {1728, 1466}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2013-08-01 20:53:33 -0700</string>
	<key>Creator</key>
	<string>Work</string>
	<key>DisplayScale</key>
	<string>1 0/72 in = 1 0/72 in</string>
	<key>GraphDocumentVersion</key>
	<integer>6</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Bounds</key>
			<string>{{473, 586}, {869, 252}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>52</integer>
			<key>ImageID</key>
			<integer>4</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{248, 970.178}, {110, 17}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>Vertical</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>ID</key>
			<integer>51</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;\red0\green0\blue0;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\b\fs28 \cf2 USB}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>31</integer>
			</dict>
			<key>ID</key>
			<integer>50</integer>
			<key>OrthogonalBarAutomatic</key>
			<true/>
			<key>OrthogonalBarPosition</key>
			<real>-1</real>
			<key>Points</key>
			<array>
				<string>{427.285, 908.5}</string>
				<string>{425, 962.5}</string>
				<string>{179, 950.25}</string>
				<string>{179, 850.5}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.2</string>
						<key>g</key>
						<string>0.2</string>
						<key>r</key>
						<string>0.2</string>
					</dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>LineType</key>
					<integer>2</integer>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>3</real>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>38</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>28</integer>
			</dict>
			<key>ID</key>
			<integer>29</integer>
			<key>OrthogonalBarAutomatic</key>
			<true/>
			<key>OrthogonalBarPosition</key>
			<real>-1</real>
			<key>Points</key>
			<array>
				<string>{508.5, 716}</string>
				<string>{300.5, 716}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>LineType</key>
					<integer>2</integer>
					<key>TailArrow</key>
					<string>FilledArrow</string>
					<key>Width</key>
					<real>3</real>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>9</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{152.902, 771.25}, {52.1953, 30}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>27</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.2</string>
						<key>g</key>
						<string>0.2</string>
						<key>r</key>
						<string>0.2</string>
					</dict>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>CornerRadius</key>
					<real>10</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{537.314, 950.678}, {718.371, 56}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>24</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.964286</string>
						<key>g</key>
						<string>0.964286</string>
						<key>r</key>
						<string>0.964286</string>
					</dict>
				</dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>4</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{750.258, 884.678}, {279.484, 66}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>23</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.964286</string>
						<key>g</key>
						<string>0.964286</string>
						<key>r</key>
						<string>0.964286</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{1328, 838}, {46, 22}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>22</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>0</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{404, 691}, {110, 17}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>Vertical</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>ID</key>
			<integer>18</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;\red255\green0\blue0;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\b\fs28 \cf2 Debug}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{984, 554}, {110, 17}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>Vertical</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>ID</key>
			<integer>17</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;\red255\green0\blue0;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\b\fs28 \cf2 Launch}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>7</integer>
			</dict>
			<key>ID</key>
			<integer>10</integer>
			<key>OrthogonalBarAutomatic</key>
			<true/>
			<key>OrthogonalBarPosition</key>
			<real>-1</real>
			<key>Points</key>
			<array>
				<string>{1073.75, 526.5}</string>
				<string>{1073.75, 607.5}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>LineType</key>
					<integer>2</integer>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>3</real>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>6</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{53, 351.25}, {256, 408}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>3</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{30, 312.25}, {298, 511}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>12</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.2</string>
						<key>g</key>
						<string>0.2</string>
						<key>r</key>
						<string>0.2</string>
					</dict>
				</dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>23</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{173.5, 733.25}, {15, 16}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>8</integer>
			<key>Shape</key>
			<string>Rectangle</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{734, 50}, {575, 536}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>4</integer>
			<key>ImageID</key>
			<integer>2</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{166.125, 820}, {25.75, 30}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>31</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.2</string>
						<key>g</key>
						<string>0.2</string>
						<key>r</key>
						<string>0.2</string>
					</dict>
				</dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>5</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{1066.25, 608}, {15, 16}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>7</integer>
			<key>Shape</key>
			<string>Rectangle</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{285, 708}, {15, 16}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>28</integer>
			<key>Shape</key>
			<string>Rectangle</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{415, 47}, {959, 769}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>14</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>0.863221</string>
						<key>r</key>
						<string>0.734957</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{384, 11}, {1025, 873.678}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>21</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.964286</string>
						<key>g</key>
						<string>0.964286</string>
						<key>r</key>
						<string>0.964286</string>
					</dict>
				</dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>15</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{1066.25, 510}, {15, 16}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>6</integer>
			<key>Shape</key>
			<string>Rectangle</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{508.5, 708}, {15, 16}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>9</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Width</key>
					<real>0.0</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{415, 881.09}, {25.75, 26.91}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>38</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.2</string>
						<key>g</key>
						<string>0.2</string>
						<key>r</key>
						<string>0.2</string>
					</dict>
				</dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>5</real>
				</dict>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>3</integer>
	<key>ImageCounter</key>
	<integer>5</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
		<dict/>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image4.png</string>
		<string>image2.png</string>
		<string>image1.png</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2013-08-02 12:32:45 -0700</string>
	<key>Modifier</key>
	<string>Work</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{612, 792}</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>2</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>Canvas 1</string>
			</dict>
		</array>
		<key>Frame</key>
		<string>{{101, 56}, {1819, 1122}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{28, 257}, {1670, 953}}</string>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1</real>
				<real>0.5</real>
			</array>
		</array>
	</dict>
	<key>saveQuickLookFiles</key>
	<string>YES</string>
</dict>
</plist>
